.menu_title{
float:left;
height:29px;
*height:25px;
margin-left:5px;
*margin-left:3px;
text-align:center;
border-bottom:1px solid #597d39;
}
.menu_title .icon{
float:left;
height:21px;
width:21px;
}
.menu_title .title_name{
width:60px;
height:21px;
font-size:16px;
color:#333;
text-align:left;
font-weight:bold;
margin-left:5px;
margin-bottom:5px;
}

.menu_items{
width:90px;
height:auto;
float:left;
margin-left:9px;
*margin-left:5px;
}

.maindish_type_list{
width:100px;
height:auto;
overflow:hidden;
margin-bottom:10px;
}

.dish_type{
width:90px;
height:20px;
margin-bottom:5px;
}

.cart_cai{
width:90px;
height:14px;
line-height:14px;
padding-left:32px;
}
.cart_jia{
width:11px;
height:11px;
margin-top:15px;
float:left;
margin-left:5px;
}

.cart_zclist{
width:40px;
height:18px;
line-height:18px;
text-align:center;
display:inline;
margin-left:5px;
font-size:14px;
font-weight:bold;
}