/* CSS Document */

/*@import "../common/leftmenu.css";*/

*{
margin:0;
padding:0;
}
body {
color:#333333;
font-size:12px;
margin:0 auto;
width:960px;
}

/*html, div, map, dt, isindex, form {
display:block;
}*/

a{
text-decoration:none;
}

ol, ul {
list-style:none outside none;
}
  .blueFont{ color:#006FC5;}
 .greenFont{ color:#597D39;}
/*.clearfix{ *zoom:1;}*/
.clearfix:after{ content:""; height:0px; clear:both; display:block; visibility:hidden;}
.coffeBlock{ width:730px; padding:0px 10px; overflow:hidden;}
.coffeBlock .divli{ float:left; width:225px; height:250px;
                 margin:10px 5px;background-color:White; position:relative; -moz-box-shadow: 0px 1px 2px rgb(51, 51, 51);visibility:hidden;z-index:1;}
.divli img{
	width:210px; height:185px; cursor:pointer; padding:10px 7px 7px 7px;
}
.right {float:right;}
.left {float:left;}
.foodTittleAndPrice{ text-align:center; font-size:14px; font-weight:200;}
.coffeBlock .divli p{ line-height:20px; padding:0px 7px; text-align:right;}
.coffeBlock .divli p del{ margin-right:5px; cursor:pointer; color:#999999;}
.coffeBlock .divli p a{ cursor:pointer; margin-left:30px;}
/**html,*html body  淇IE6鎸姩bug 
{background-image:url(about:blank);
background-attachment:fixed;
}*/
.fixed-top{
position:fixed;
bottom:auto;
top:388px;
right:auto;
left:auto;
}
/**html .fixed-top {
position:absolute;
bottom:auto;
top:10px;
right:auto;
left:auto;
}*/

.clear{
clear:both;
}
a{
color:#006FC5;
text-decoration:none;
outline:none;
}
a:hover{
color:#FF7A21;
}
#c_content_menu{
width:960px;
min-height:23px;
height:auto;
float:left;
margin-top:25px;
}

#restaurant_title{
width:115px;
height:25px;
line-height:25px;
font-family:"瀹嬩綋";
font-size:20px;
font-weight:bold;
margin-right:8px;
float:left;
padding-left:2px;
}

#main_content{
border: 10px solid #C7CDD8;
clear:both;
min-height:730px; 
height:auto !important; 
height:730px;
padding:0;
/*margin-bottom:50px;*/
}

/*#right_content{
float:right;
width:260px;
position:relative;
left:15px;
}*/


#right-menu{
position:relative;
float:left;padding-left: 15px;
width:747px;
z-index:9;
overflow:hidden;
}
#middle_content{
float:left;
width:497px;
min-height:600px;
height:auto;
position:relative;
z-index:20;
}

#left_menu{
background:#F1F2EF no-repeat scroll 0 0;border-right: 1px solid #C7CDD8;
float:left;
width:156px;
position:relative;
height: 888px;
z-index:10;
}


.left_menu_inner{
position:relative;
float:left;
}

.left_menu_title{
background:transparent url(../../images/orderfood/leaves_bg.png) no-repeat scroll left bottom;color:#A8A439;
float:left;width:128px;height:36px;text-decoration:none;font:18px Georgia,Times New Roman,Times,serif;font-weight: bold;padding-left: 28px;
}

.left_menu_title span {
float:left;
margin-left:13px;
margin-top:5px;
}

.left_menu_inner ul {
display:inline;margin-top: 10px;
float:left;
width:156px;
}

.left_menu_inner ul li{
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
position:relative;
}

.left_menu_inner ul li a{
color:#010E22;
float:left;
font-family:"微软雅黑";
font-size:15px;
line-height:38px;
padding:0 0 0 15px;
text-decoration:none;
width:140px;
outline:none;
}

.left_menu_inner ul li a:hover{
    background:transparent url(../../images/orderfood/rotate.gif) no-repeat scroll 2px 13px;padding-left:18px;
}


.filtercurrent {
/*	background:transparent url(../../images/orderfood/left_menu_focus.png) no-repeat scroll 0 0;*/
background: url(../../images/orderfood/rotate.gif) no-repeat scroll 2px 13px #FFF;position:relative;left:1px;border-top: 1px solid #C7CDD8;border-bottom: 1px solid #C7CDD8;border-right: 1px solid #FFFFFF;
}

.left_menu_inner ul li.filtercurrent a:hover{padding-left:16px;}

.left_menu_inner ul li a:hover div.navChild,.left_menu_inner ul li:hover div.navChild{
display:block;
}

.left_menu_inner ul li .navChild{
background:transparent url(../../images/common/shadowAlpha.png) no-repeat scroll right bottom !important;
background: url(../../images/test/shadow.gif) no-repeat bottom right;
float:left;
height:auto;
margin:10px 0 0 10px !important;
margin: 10px 0 0 5px;
min-height:30px;
position:absolute;
width:150px;
z-index:310;
left:175px;
display:none;
}

.left_menu_inner ul li .child_list {
background:transparent none repeat scroll 0 0 !important;
float:left;
padding:0 !important;
padding: 0px 6px 6px 0px;
min-height:30px;
height:auto;
}

.left_menu_inner ul li .child_list .child_list_bg{
background-color:#FFFFFF;
border:1px solid #A9A9A9;
margin:-6px 6px 6px -6px !important;
margin:0;
min-height:30px;
height:auto;
padding:4px;
float:left;
}

.left_menu_inner ul li .child_list a{
background:url(../../images/orderfood/left_menu_arrow.png) no-repeat left center;
padding-left:15px;
line-height:33px;
width:135px;
}

.left_menu_inner ul li  .child_list a:hover, .left_menu_inner ul li .child_list a:focus {
background:transparent url(../../images/orderfood/left_menu_arrow.png) no-repeat left center;
color:#48AD47;
margin:0;
padding-left:17px;
position:static;
outline:none;
}
#title_c, .search-navbar{
float:left;
width:500px !important;
width:498px;
margin-bottom:15px;
border-bottom:1px solid #FFFFFF;
}
.search-navbar{
width:747px !important;
width:742px ;
border-bottom: 1px solid #C7CDD8;
}
#paixu,  .nav-list{
float:left;
font-size:12px;
line-height:25px;
width:350px;
padding-top:5px;
}
.nav-list{
margin-left:5px;

}
#paixu a {
color:#006FC5;
text-decoration:none;
outline:none;
}
#paixu a:hover {
color:#FF7A21;
}
#orderby {
float:right;
height:22px;
margin-right:0;
overflow:hidden;
width:200px;
padding-top:5px;
}

#orderby span.displaynumber {
float:right;
width:210px;
}
#orderby label, #orderby select, #orderby a {
float:left;
}
#orderby label {
float:left;
height:20px;
line-height:20px;
margin-top:2px;
overflow:hidden;
text-align:center;
width:100px;
}
#orderby a:hover, div#orderby a.current {
background:transparent url(../../images/common/number_green.png) repeat scroll 0 0;
display:inline;
height:20px;
line-height:20px;
margin-left:2px;
overflow:hidden;
text-align:center;
text-decoration:none;
width:30px;
color:#FFFFFF;
}
#orderby span a {
background:transparent url(../../images/common/number_gray.png) repeat scroll 0 0;
display:inline;
height:20px;
line-height:20px;
margin-left:2px;
overflow:hidden;
text-align:center;
text-decoration:none;
width:30px;
}

#orderitems{
float:left;
width:497px;
min-height:300px;
height:auto;
}
#orderitems .item{
float:left;
margin-bottom:10px;
position:relative;
}

#orderitems .item .item_title{
width:468px;
height:20px;
float:left;
background:#DEECF5 url(../../images/orderfood/item_head_bg.gif) no-repeat scroll left bottom;
font-size:16px;
font-weight:bold;
margin:0 0 5px 7px !important;
margin:0 0 0 4px;
padding:7px 0 18px 5px !important;
padding:5px 0 0 3px;
}
#orderitems .item .item_title b{
color:#43561E;
font-size:12px;
}

#orderitems .item .item_title span{
color:#597D39;
font-size:13px;
}

#orderitems .item .item_title span.addin_menu, #orderitems .item .item_title span.addin_favor{
background:transparent url(../../images/common/add_in_mymenu.png) no-repeat scroll left -2px;
float:right;
height:18px;
font-size:12px;
color:#04142E;
margin-right:5px;
padding-left:20px;
width:60px;
position:relative;
top:4px;
*top:-15px;
}

 .item_title .addin_menu a, .item_title .addin_favor a{
font-weight:500;
}

 #orderitems .item .item_title span.addin_favor{
background:transparent url(../../images/common/addInFavor.png) no-repeat scroll left -2px;
width:30px;
}

#orderitems .item .item_title span.curprice{
position:relative;
top:3px;
*top:-17px;
float:right;
margin-right:10px;
}

#orderitems .item .item_content{
background:transparent url(../../images/orderfood/item_border_bg1.gif) repeat-y scroll 0 0;
width:497px;
min-height:210px;
height:auto;
}

#orderitems .item .item_content .item_left_content{
background:transparent url(../../images/orderfood/letter_for_item.png) repeat-y scroll left  bottom;
float:left;
width:196px;
margin-left:15px !important;
margin-left:5px;
margin-right:5px;
margin-top:5px;
min-height:198px;
height:auto;
position:relative;
z-index:210;
}
.item_left_content .clip{
background:transparent url(../../images/orderfood/clip.png) repeat-y scroll left  bottom;
width:27px;
height:50px;
position:relative;
top:-8px;
left:5px;
z-index:500;
}
.item_content .special{
clear:both;
background:transparent url(../../images/common/special.gif) no-repeat scroll right bottom;
color:#FFFFFF;
display:block;
margin:0;
height:31px;
width:31px;
float:right;
position:absolute;
bottom:20px;
right:10px;
}

.item_content .right_box{
float:left;
position:relative;
margin-bottom:20px;
width:250px;
}
.item_content .right_box .item_pic{
float:left;
background: url(../../images/common/shadowAlpha.png) no-repeat bottom right;
margin: 10px 0 0 10px !important;
margin: 10px 0 0 5px;
}
.right_box .item_pic img{
background-color:#FFFFFF;
border:1px solid #A9A9A9;
display:block;
margin:-6px 6px 6px -6px;
padding:4px;
position:relative;
z-index:202;
}


#orderitems .item .item_content_bottom{
background:transparent url(../../images/orderfood/item_bottom_bg1.gif) no-repeat scroll 0 100%;
float:left;
display:block;
width:497px;
height:8px;
position:relative;
top:0px !important;
*top:-10px; /*瑙ｅ喅ie6涓璪ottom涓庨《閮ㄥ垎鍓茬殑闂*/
}

.item_left_content .description {
float:left;
line-height:20px;
height:auto;
margin-left:30px !important;
margin-left:15px;
margin-bottom:10px;
margin-top:10px;
margin-right:5px;
min-height:178px;
*height:178px;
text-align:left;
font-size:12px;

position:relative;
top:-40px;
}
.right_box .comment{
clear:both;
float:left;
width:210px;
position:relative;
top:5px;
left:30px;
text-align:center;
}

.right_box .comment span{
height:18px;
width:50px;
/*position:absolute;
top:5px;
right:-5px;*/
margin:0;
}
.right_box .comment span a{
font-style:normal;
font-weight:normal;
}
.item_left_content .description span {
font-style:normal;
font-weight:bold;
font-size:12px;
color:#40492D;
margin-right:5px;
}
.item_left_content .description span.text_content{
font-family:"瀹嬩綋";
font-style:normal;
font-weight:normal;
vertical-align:bottom;
color:#172226;
/*border-bottom:1px dotted #D9006C;*/
}
.item_left_content .description div{
margin-bottom:5px;
width:161px;
}
#orderitems .item .stat_info{
position:relative;
float:right;
top:-23px !important;
top:-33px;
right:25px;
}

#orderitems .item .stat_info .consum_stat,#orderitems .item .stat_info .favor_stat{
float:left;
display:block;
min-width:65px;
width:auto;
height:22px;
margin-right:20px;
/*position:relative;
top:-20px !important;*/
font-size:9px;
color:#FFFFFF;
}

#orderitems .item .stat_info .favor_stat{
margin-right:0px;
}

#orderitems .item .stat_info .consum_stat{
background:transparent url(../../images/orderfood/consumption_bg_bottom.png) no-repeat scroll right bottom;
}
#orderitems .item .stat_info .favor_stat{
background:transparent url(../../images/orderfood/favor_bg_bottom.png) no-repeat scroll right bottom;
}
#orderitems .item .stat_info  span{
position:relative;
top:7px;
padding-left:5px;
}

#pager{float:right;margin-top: 15px;}

.pricerange{
float:left;
line-height:25px;
text-align:center;
width:140px;
padding-top:5px;
}

.successaddmenu{
position:absolute;
top:100px;
background-color:#F2F661;
font-size:14px;
width:100px;
left:60px;
text-align:center;
line-height:30px;
display:none;
}

.successaddmenu1{
position:absolute;
top:2px;
background-color:#F2F661;
font-size:14px;
width:100px;
left:480px;
text-align:center;
line-height:30px;
display:none;
z-index:100;
}

 .whaterBlok{ width:730px;font-family:YaHeiConsolas,"Microsoft YaHei";background:none repeat scroll 0 0 #ececec; padding: 7px;}
 .whaterBlokTittle{ background: none repeat scroll 0 0 #FFFFFF;line-height:30px;font-size:14px;width: 730px; }
 .whaterBlokTittle td{background: url("../../images/orderfood/left_menu_arrow.png") no-repeat scroll left center transparent;padding-left:15px; }
 .whaterBlokTittle td a.selected{background-color: #00AEEF;color:#fff;}
 .coffeBlock{ width:730px; padding:0px 10px; overflow:hidden;margin: 15px 0;}
 .whaterSheet{width: 730px;}
 .whaterSheet li{ padding:8px 30px; font-size:14px; position:relative;margin:0px;}
 .whaterSheet li p{ width:85px; margin:0px 15px; display:inline;}
 .whaterSheet li .pTittle{ width:170px;}
 .whaterSheet li p span{ font-size:12px;}
 .whaterSheet li p a{ cursor:pointer;}
 .whaterSheet li p span.price{color:#FF0000;font-family: Georgia,"Times New Roman",Times,serif;font-size: 14px; }
 .whaterSheet .liLast{border:none;}
 .whaterSheet .liEven{background-color:#FFF; }
 .whaterSheet .liOdd{background-color:#F6F6F6;}
 .whaterSheet .liHover{background-color:#FFFFC8 !important; }
 
/*鏃犲浘鐗囬鏍硷紝鍒楄〃褰㈠紡 .listStyle*/
.listStyle{ width:730px;font-family:YaHeiConsolas,"Microsoft YaHei";}
 .listStyleTittle{ background: none repeat scroll 0 0 #FFFFFF;line-height:30px;font-size:14px; }
 .listStyleTittle td{background: url("../../images/orderfood/left_menu_arrow.png") no-repeat scroll left center transparent;padding-left:15px; }
 .listStyleTittle td a.selected{background-color: #00AEEF;color:#fff;}
 .coffeBlock{ width:730px; padding:0px 10px; overflow:hidden;margin: 15px 0;}
 .slash{background: url("../../images/orderfood/slash.png") no-repeat scroll left center transparent;width:760px;}
 .listStyleUl{}
 .listStyleUl li{ padding:8px 20px; font-size:14px; position:relative;margin:0px;border-bottom: 1px dotted #CAC2B1;color: #453C37;font-family: "Microsoft YaHei","Steinem Roman",Arial,sans-serif;float: left;width:325px;}
 .listStyleUl li p{ display:inline;}
 .listStyleUl li .pTittle{ width:350px;font-weight: bold;margin-bottom: 10px;}
 .listStyleUl li p span{ font-size:12px;}
 .listStyleUl li p a{ cursor:pointer;}
 .listStyleUl li p span.price{margin-left: 15px;color:#FF0000;font-family: Georgia,"Times New Roman",Times,serif;font-size: 14px; }
 .listStyleUl .liLast{border:none;}
 .listStyleUl .liEven{clear:both;float:left;background-color:#FFF; }/*background-color:#FFFFC2;*/
 .listStyleUl .liOdd{background-color:#FCFAEA;} /*#F6F6F6*/
 .listStyleUl .liHover{background-color:#FFFFC2 !important; }
 .successaddmenu1{position:absolute;z-index: 100;background-color:#FFFF8E;width: 100px;left:300px;top: 15px;padding:3px;left:10px;font-size:12px;/*display:none;*/}

 /*图文混排 .listStyle*/
.picAndlistStyle{ width:730px;font-family:YaHeiConsolas,"Microsoft YaHei";}
 .picAndlistStyleTittle{ background: none repeat scroll 0 0 #FFFFFF;line-height:30px;font-size:14px; }
 .picAndlistTittle td{background: url("../../images/orderfood/left_menu_arrow.png") no-repeat scroll left center transparent;padding-left:15px; }
 .picAndlistTittle td a.selected{background-color: #00AEEF;color:#fff;}
 .picAndlistUl{font-family: "Microsoft YaHei","Steinem Roman",Arial,sans-serif;}
 .picAndlistUl li{ padding:8px 20px; font-size:14px; position:relative;margin:0px;color: #453C37;float: left;width:700px;}
 .picAndlistUl li p{ display:inline;}
 .picAndlistUl li .pTittle{ width:100%;font-weight: bold;margin-bottom: 5px;}
 .picAndlistUl li p span{ font-size:12px;}
 .picAndlistUl li p a{ cursor:pointer;}
 .picAndlistUl li .introducation{clear: both;float:left;width:100%;font-size:12px;line-height:24px;margin-bottom: 5px;}
 .picAndlistUl li .nopicIntroducation{clear: both;float:left;width:50%;font-size:12px;line-height:24px;margin-bottom: 5px;}
 .picAndlistUl li p span.price{margin-left: 15px;color:#FF0000;font-family: Georgia,"Times New Roman",Times,serif;font-size: 14px; }
 .picAndlistUl .liLast{border:none;}
 .picAndlistUl .liEven{float:left;background-color:#FFF; }
 .picAndlistUl .liOdd{background-color:#FFF;} 
 .picAndlistUl .liHasPic{width:250px;width:310px !important;}
 .picAndlistUl .left{float:left;}
 .picAndlistUl .right{float:right;}
 .hasPicBox{width:320px !important;width:300px;margin:5px 45px 10px 0;}
 .hasPic{width:320px !important;width:300px;float: left;background: url(../../images/common/shadowAlpha.png) no-repeat bottom right;
      margin: 10px 0 0 10px !important;}
 .imgright{float:right !important; float:left;}
 .imgleft{float:left;}
 .hasPic img{display: block;position: relative;background-color: #fff;border: 1px solid #C7CDD8;margin: -6px 10px 6px -10px;padding: 7px;} 
 .picAndlistUl .liHover{background-color:#FFFFC2 !important; }
 #buffetCoupon{margin-bottom: 10px;*margin-bottom:0px;margin-top: 10px;background-color: #C7CDD8;font-family:YaHeiConsolas,"Microsoft YaHei",helvetica,Arial,Sans-Serif;}
 .couponL{height:180px; background:url(../../images/orderfood/bigTittleBG.png); width:20px;float:left;}
.couponM{height:180px; background:url(../../images/orderfood/bigTittleMid.jpg) repeat-x; float: left; width:560px;padding: 10px 10px 0;}
.couponM h2{ margin-bottom:5px; margin-top:5px;}
.couponM p{ font-size:22px;}
.couponPrice{ height:177px; width: 333px;background:url(../../images/orderfood/bigTittleMid.jpg) repeat-x; float: left;overflow: hidden;}
.couponPriceinner{padding: 10px;margin-top: 5px;border-left: 2px solid #ECECEC;height: 135px;}
.couponPriceinner h1{font-size:30px;text-align: center;}
.couponPriceinner sup{font-size: 16px;}
.couponPriceinner .dele{color:#999;text-decoration: line-through;margin-right: 20px;font-family: Georgia,"Times New Roman",Times,serif;}
.couponPriceinner .cur{color:#FF0000;font-family: Georgia,"Times New Roman",Times,serif;}
.couponPriceinner a{ cursor: pointer;background:url(../../images/orderfood/addinmenu.png) no-repeat 0 0;display: block;height: 45px;margin-left: 35px;margin-top: 20px;}
.couponPriceinner a:hover{background-position: 0px -45px;}
.couponR{ height:177px; width:25px;float: left;background:url(../../images/orderfood/bigTittleBG.png) no-repeat -59px -450px;}
.new_hot{ background: url(../../images/orderfood/new.gif) no-repeat scroll 0 0 transparent;display: inline-block;height: 16px;right: -7px;position: absolute;top: 12px;width: 21px;z-index: 10;}
  

